.body-aboutus {
  p {
    font-family: "JosefinSans", sans-serif;
    color: $darkGrey;
  }
}
.wrapper {
  width: 100vw;
  .first-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: url("/assets/images/About-us/Group-hiking.png");
    // padding: 7% 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;

    .catchphrase-box {
      background-color: rgba(240, 240, 240, 0.8);
      margin-top: 5%;
      padding: 10px;
      margin-bottom: 5%;
      .catchphrase-text {
        font-family: "Playfair Display", serif;
        font-weight: 100;
        font-size: 1.1rem;
        text-align: center;
        color: #53545b;
      }
    }

    .history {
      width: 90%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.915);
      color: rgb(0, 0, 0);
      padding: 5%;
      margin-left: 5%;
      margin-bottom: 7%;

      .history-heading {
        align-self: flex-start;
        margin-bottom: 0.8rem;
        font-family: "JosefinSans", sans-serif;
        text-transform: uppercase;
        color: $darkGrey;
        font-size: 1.2rem;
      }
      .history-text {
        font-family: "JosefinSans", sans-serif;
        color: $darkGrey;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  .second-section {
    // padding: 20px;
    .team-text {
      font-family: "JosefinSans", sans-serif;
      font-size: 1.2rem;
      color: $darkGrey;
      margin-bottom: 1.5rem;
      line-height: 1.5em;
      padding: 30px;
      h2 {
        text-transform: uppercase;
        font-size: 1rem;
      }
    }
    margin: 5%;
    background-color: $backgroundGrey;
    // margin: 7% 5%;
    box-sizing: border-box;
    width: auto;
    .staff {
      @include flexColumn();
      justify-content: space-evenly;
      align-items: center;
      @include desktopAbout {
        flex-direction: row;
      }

      .staff-top,
      .staff-middle,
      .staff-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        @include desktopAbout {
          @include flexColumn();
          flex-wrap: nowrap;
        }
      }

      .portrait {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 15px;
        :hover {
          cursor: pointer;
        }

        .staff-name {
          font-size: 13px;
          font-weight: bold;
          text-align: center;
        }

        p:first-of-type {
          margin-top: 0.8rem;
        }

        .staff-info {
          margin-top: 0.4rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          font-size: 12px;
        }

        .email {
          font-size: 12px;
        }

        .img {
          overflow: hidden;
          width: 130px;
          height: 130px;
          @include flexRow();
          margin-top: 1rem;
          @include desktopAbout {
            width: 280px;
            height: 280px;
            margin: 0.8rem;
          }
          @include tabletAbout {
            width: 250px;
            height: 250px;
          }

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
          img.mike,
          .sarah,
          .emma,
          .alex {
            height: 100%;
          }
        }
      }
    }
  }
}

hr {
  border: none;
  border-top: 1px solid #53545b;
}

.wrapper {
  footer {
    min-height: 124px;
    position: relative;
    width: 100vw;
    margin: 0px;
    padding: 20px;
    z-index: 0;
    left: 0;

    h2.uppercase {
      white-space: nowrap;
    }

    .backgroundImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-image: url("https://wallpaperaccess.com/full/686924.jpg");
      margin-bottom: 0px;
      // background: $backgroundGrey;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.2;
      z-index: -1;
    }

    .containerFooter {
      position: relative;
      z-index: 1;
      .footerTop {
        h2,
        p {
          color: $black;
          white-space: nowrap;
        }
      }
      hr {
        border: 1px solid $black;
      }
      .footerBottom {
        a {
          color: $black;
        }
        a:hover {
          border-bottom: 1px solid 240, 240, 240, 0;
        }
      }
    }
  }
}
