//Universal styling


.uppercase{
    text-transform: uppercase;
}
 

body.contactPage{
    background-color: $lightGrey;
    font-family: 'Josefin Sans', sans-serif;

}



      
.contactPage{

    @include desktop{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include tablet{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header.contactPageHeader{
        margin-bottom: 30px;
        width: 100vw;
        position: relative;
        overflow-x: hidden;
        
        .logoContainer{
            margin-top: 0px;
        }

        .backgroundImg{
            position: absolute;
            top: 0;
            left: 0;
            width: 300%;
            background-size: cover; 
            background-position: right; 
            background-repeat: no-repeat;
            height: 100%;
            background-image: url('https://wallpaperaccess.com/full/686924.jpg');
            margin-bottom: 0px;
            // background: $backgroundGrey;
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            opacity: 0.2;
            z-index: -1;
        }
    }
};


.contactPageBody{
    width: 100vw;
    height: 100vh;

    .mainContactUs{
        gap: 5%;
        padding: 0px 10%;
        width: 100%;
        height: 100%;
        
        @include tablet(){
            display: flex;
            flex-direction: row;
            align-items: stretch;
            padding-bottom: 40px;
        }

        @include desktop(){
            height: auto;
            align-items: flex-start;
        }

        .contactUs{
            padding-top: 10px;

            @include tablet(){
                width: 40%;
                
            }

            @include desktop(){
                height: 626px;
                flex-grow: 0;

            }

            .inputContianer{
                padding-top: 10px;
                .input{
                    
                    padding-top: 20px;
                    
                    h3{
                        padding-bottom: 8px;
                        font-weight: normal;
                    }
                    input{
                        padding: 7px;
                        padding-left: 10px;
                        padding-top: 9px;
                        width: 100%;
                        border-radius: 3px;
                        background-color: $backgroundDarkerGrey;
                        color: $black;
                        border: 1px solid $backgroundDarkerGrey;
                        font-family: $josefin-font;
                        font-size: $body;

                        &::placeholder{
                            color: $black;
                            opacity: 0.6;
                            font-family: $josefin-font;
                            font-size: $body;
                        }
                    }
                }
            }

            .alternatives{
                padding-top: 30px;
                
                h3{
                    font-weight: normal;
                }

                .radioButtons{
                    padding-top: 20px;
                    @include flexRow();
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    .left{
                        padding-right: 40px;
                    }

                    .top, .bottom{
                        padding-bottom: 12px;

                        
                    }
                }
            }

            .message{
                padding-top: 18px;
                display: flex;
                flex-direction: column;

                @include desktop(){
                    padding-top: auto;
                }

                h3{
                    font-weight: normal;
                    padding-bottom: 8px;
                    
                }

                #messageBox{
                    width: 100%;
                    background-color: $backgroundDarkerGrey;
                    color: $black;
                    border: 1px solid $backgroundDarkerGrey;
                    border-radius: 3px;
                    font-family: $josefin-font;
                    padding: 20px;
                    font-size: $body;
                    margin-bottom: 20px;

                    &::placeholder{
                        color: $black;
                        opacity: 0.6;
                        font-family: $josefin-font;
                        font-size: $body;
                        
                    }
                }
                .submit{
                    align-self: center;
                    
                    @include shopNow($green, #fff); 
                }
                
            }


        }

        .findUs{
            display: flex;
            width: 100%;
            gap: 5%;
            padding-top: 100px;
            // height: 530px;
            height: calc(50vw + 300px);

            @include extraSmall(){
                flex-direction: column;
                height: 100%;
                
            }

            @include tablet(){
                width: 60%;
                padding: 0px;
                flex: 1;
                height: auto;
            }

            @include desktop(){
                height: 626px;

                
            }

            

            .left{
                width: 50%;
                @include flexColumn(space-between, flex-start);

                @include extraSmall(){
                    width: 100%;
                }

                @include tablet(){
                    justify-content: flex-start;
                    align-items: stretch;
                    flex: 1;
                }

                .followUsContainer{
                    @include flexColumn(space-between, flex-start);
                    min-height: 60%;
                    width: 100%;

                    .followUs{
                        align-self: center;
                        padding-bottom: 20px;
                    }

                    .socialMedias{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        width: 100%;
                    }

                    .adressInfo{
                        padding: 20px 0px;
                        p{
                            line-height: 1.5;
                        }
                    }
                }

                .mapSizing{
                    width: 100%;
                    height: auto;
                    overflow: hidden;

                    @include extraSmall(){
                        height: 400px;
                    }
                    @include tablet(){
                        flex-grow: 1;
                    }

                    .map{
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;

                        @include desktop(){
                            max-height: 100%;
                        }
                    }
                }
                
            }

            .right{
                width: 50%;
                overflow: hidden;
                height: 100%;

                @include extraSmall(){
                    width: 100%;
                    height: 400px;
                    padding-top: 20px;
                }

                @include tablet(){
                    height: auto;
                    flex-grow: 1;
                }

                img{
                    object-fit: cover;
                    object-position: center ;
                    width: 100%;
                    height: 100%;

                    @include desktop(){
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

