

header {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;

    @include flexRow($justify: space-between, $align: center);
    
 
    span {
        text-transform: uppercase;
        color: $darkGrey;
        font-weight: 400;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $darkGrey;
        font-weight: 650;
    }

    // a:first-of-type {
    //     color: $green;
    // }

    .logoContainer {
        @include flexColumn;
        margin-top: 20px;
        gap: 20px;

        @include desktopAbout {
            @include flexRow;
        }

        .companyCatchphraseContainer {
            
            @include desktopAbout {
                @include flexColumn;
                align-items: flex-start;
            }
            .companyName {
                @include flexColumn;
                gap: 10px;
                margin-bottom: 20px;
                @include desktopAbout {
                    @include flexRow;
                    
                }
        
            }
            .the {
                font-size: 1rem;

                @include desktopAbout {
                    font-size: 32px;
                    font-weight: 400;
                }
            }
            .catchphrase {
                display:none;

                @include desktopAbout {
                    display: block;
                }
            }
        }
    }

    .navContainer {
        @include flexColumn;
        background-color: rgba(240, 240, 240, 0.6);
        padding: 20px;
        line-height: 12px;
        transition: transform 0.3s ease-in-out;

        @include desktopAbout {
            @include flexRow;
            justify-content: space-between;
            padding: 0px;
            background-color: transparent;
        }

        hr {
            border: none; /* Remove default border */
            height: 1px; /* Set height of the line */
            background: linear-gradient(to right, transparent, $darkGrey, transparent); /* Create a gradient */
            width: 80%; /* Set the full width */
            margin: 10px 0px 13px 0px;

            @include desktopAbout {
                display: none;
            }
        }

        a{
            @include desktopAbout {
                margin: 0px 10px;
            }
        }

        a:hover {
            color: darken($green, 10%);
            
            transform: scale(1.2);
            // opacity: 0.6;
            cursor: pointer;
        }
    }
}