
body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.background {
    background: url(assets/images/homePage/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;

    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
        z-index: 1; 
    }

    main {
        

        .productsStartpage1, .productsStartpage2{
            .wrapper {
                .product {
                    max-width: 20%;
                }
            }
        }

    }
    
}

