* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// body {
//     min-height: 100vh;
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.wrapper-content {
    font-family: 'JosefinSans', sans-serif; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}

.background {
    background: url(assets/images/homePage/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;


    .gradient-overlay {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        z-index: 1; 
    }

    main {

        .catchphrase-container {
            background-color: rgba(240, 240, 240, 0.8);
            width: 100%;
            text-align: center;
            padding: 7px;
       
            .catchphrase {
                font-family: "Playfair Display", serif;
                font-weight: 300;
                font-size: 1rem;
                
            }
        
    }

        .button button {
            @include shopNow();
            display: block;
            margin:auto;
            margin-top:10%;
            margin-bottom:10%;
        }
            .productsStartpage1, .productsStartpage2{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5%; 
                background-color: rgba(240,240,240,0.8); 
                .wrapper {
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    position: relative;

                    .logobackground {
                        background-color: $lightGrey;
                        @include flexRow();
                        width: 100%;
                        height: 20px;
                        position:absolute;
                        bottom:24px;
                
                    
                        .logo {
                            max-height: 100%;
                            max-width: 100%;
                          }
                    }
                   
                    .product {
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                  
                }
            }
    
        }
       
    }
    
}
