* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//     min-height: 100vh;
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.wrapper-content {
  font-family: "JosefinSans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;
}

#products2, #products3 {
  @include desktopAbout {
    display: flex;
  }
}


.background {
  background: url(assets/images/homePage/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100vw;

  .gradient-overlay {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    z-index: 1;
  }

  main {
    @include desktopAbout {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .catchphrase-container {
      background-color: $backgroundLogo;
      width: 100%;
      text-align: center;
      padding: 7px;

      .catchphrase {
        font-family: "Playfair Display", serif;
        font-weight: 300;
        font-size: 1rem;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      a {
        @include shopNow();
        margin-top: 10%;
        margin-bottom: 10%;
        text-decoration: none;
        @include desktopAbout {
          margin: 0;
          margin-bottom: 5%;
          height: 30%;
        }
      }
      
    }

    .productsMain {
      @include desktopAbout {
        width: 100%;
      }
      .firstrow, 
      .secondrow {
        @include desktopAbout {
          display: flex;
          width: 50%;
        }
      }
      

      @include desktopAbout {
        display: flex;
      }
      @include tabletAbout {
        display: flex;
      }
      .productsStartpage1,
      .productsStartpage2,
      .productsStartpage3,
      .productsStartpage4 {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        background-color: $backgroundLogo;
        @include desktopAbout {
          width: 50%;
        }
      }
    }

    .wrapper {
      width: 100%;
      margin: 20px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      aspect-ratio: 2/1.5;
      position: relative;
      padding-top: 10px;

      .logobackground {
        background-color: $backgroundLogo;
        @include flexRow();
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 10%;

        .logo {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .product {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .footerHome{
    .containerFooter{
      .footerBottom{
        .activeFooter{
          text-shadow: 2px 2px 8px #000, 2px 2px 8px #000, 1px 1px 2px #000;
        }
      }
    }
  }

}
