@mixin shopNow($colorBackground:$yellow, $colorText:$btnTextGrey) {
  margin-top: 40px;
  margin-bottom: 40px;
  background: $colorBackground;
  color: $colorText;
  font-family: 'JosefinSans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
    
    &:hover {
        background: darken($colorBackground, 10%);
        transform: scale(1.1);
        cursor: pointer;                      
        transition: transform 0.5s;
    }
}

@mixin flexRow($justify:center, $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: row;
  }

@mixin flexColumn($justify:center, $align:center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
  }

  @mixin nameheader() {
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    color: $grey;
    font-size: 1rem;
    text-transform: uppercase;
  }

  @mixin andteam() {
    font-family: 'JosefinSans', sans-serif;
    font-weight: 100;
    color: $paragraphgrey;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-indent: 68px;
  }

  @mixin q-mark() {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 500;
    color: $darkGrey;
  }

  @mixin info-text() {
    font-family: 'JosefinSans', sans-serif;
    font-weight: 500;
    color: $darkGrey;
    font-size: 0.8rem;
    z-index: 100;
    margin-top: -30px;
  }