@mixin shopNow {
  margin-top: 40px;
  margin-bottom: 40px;
  background: $yellow;
  color: $btnTextGrey;
  font-family: Josefin Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 30px;
    border-radius: 20px;
    border: none;
    margin: 0px;
    text-transform: uppercase;
}

@mixin flexRow($justify:center, $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: row;
  }

@mixin flexColumn($justify:center, $align:center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
  }
