//Universal styling
.shopNow{
    @include shopNow();
}

main {
    .RVRC{
        .adRVRC{
            position: relative;
            width: 100vw;
            height: 390px;
            overflow: hidden;
            .containerInfo{
                width: 100%;
                height: 100%;
                position: relative;
                .shopNow{
                    position: absolute;
                    top: 0;
                }
                .containerLogo{
                    width: 100vw;
                    height: 70px;
                    background: $backgroundLogo;
                    @include flexRow();
                    position: absolute;
                    bottom: 13%;
    
                    .logo{
                        height: 70px;
    
                    }
                }
            }
            .RVRCImg{
                z-index: -1;

                min-height: 100%;
                position: absolute;
                top: 0px; 
                left: -10px;
            }

        }
    }
}