//Font-sizes
$headingXL: 64px;
$headingL: 48px;
$headingM: 32px;
$headingS: 24px;
$body: 16px;

//colors

//Font
$josefin-font: "Josefin Sans", sans-serif;
$playfair-font: "Playfair Display", serif;

//Texts
$green: #228c55;
$grey: #53545b;
$lightGrey: #f0f0f0;
$darkGrey: #53545b;
$paragraphgrey: #71737d;
$black: #000000;

//Backgrounds
// $background: rgba(	240, 240, 240, 0.83);

$backgroundGrey: #f0f0f0;
$backgroundDarkerGrey: #e6e6e6;
$backgroundLogo: rgba(240, 240, 240, 0.8);

//buttons
$yellow: #ffce3d;
$btnTextGrey: #5a5c66;
