//Font-sizes
$headingXL: 64px;
$headingL: 48px;
$headingM: 32px;
$headingS: 24px;
$body: 16px;

//colors

//Font
$josefin-font: 'Josefin Sans', sans-serif;
$playfair-font: "Playfair Display", serif;

//Texts
$green: #3AAE72;
$grey: #53545B;
$lightGrey: #F0F0F0;
$darkGrey: #53545B;
$paragraphgrey: #71737D; 
$black: #000000; 


//Backgrounds
// $background: rgba(	240, 240, 240, 0.83);

$backgroundGrey: #F0F0F0;
$backgroundDarkerGrey: #e6e6e6;
$backgroundLogo: rgba(240, 240, 240, 0.80);

//buttons
$yellow: #FFCE3D; 
$btnTextGrey: #5A5C66;