@charset "UTF-8";
body {
  min-height: 100vh;
}

.wrapper-content {
  font-family: ’JosefinSans’, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;
}

.background {
  background: url(assets/images/homePage/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.background .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  z-index: 1;
}
.background main .productsStartpage1 .wrapper .product, .background main .productsStartpage2 .wrapper .product {
  max-width: 20%;
}

header {
  width: 100%;
}

.shopNow {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #FFCE3D;
  color: #5A5C66;
  font-family: "JosefinSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

main .part1 .RVRC .adRVRC {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}
main .part1 .RVRC .adRVRC .containerInfo {
  width: 100%;
  height: 100%;
  position: relative;
}
main .part1 .RVRC .adRVRC .containerInfo .shopNow {
  position: absolute;
  top: 13%;
  left: 3%;
}
main .part1 .RVRC .adRVRC .containerInfo .containerLogo {
  width: 100vw;
  height: 70px;
  background: rgba(240, 240, 240, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 13%;
}
main .part1 .RVRC .adRVRC .containerInfo .containerLogo .logo {
  height: 70px;
}
main .part1 .RVRC .adRVRC .RVRCImg {
  z-index: -1;
  width: 100%; /* Fill the container's width */
  height: 100%; /* Fill the container's height */
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and cover the container */
  -o-object-position: top;
     object-position: top; /* Center the image */
  position: absolute;
  top: 0px;
  left: 0px;
}
main .part1 .RVRC .bestOfRVRC {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 30px 4%;
}
main .part1 .RVRC .bestOfRVRC h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}
main .part1 .RVRC .bestOfRVRC .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 4%;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct img {
  width: 100%;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct .productInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 13px;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct .productInfo .price {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: ’JosefinSans’, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 20px;
}
footer h2 {
  font-weight: 300;
  font-size: 1.2rem;
  color: #f0f0f0;
  text-transform: uppercase;
}
footer p {
  color: #f0f0f0;
  font-weight: 100;
  font-size: 0.7rem;
  opacity: 0.8;
}
footer a {
  text-decoration: none;
  color: #f0f0f0;
  text-transform: uppercase;
}
footer .footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  margin-bottom: 10px;
}
footer .footerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
footer .footerBottom a {
  font-size: 0.7rem;
}
footer .footerBottom a:hover {
  border-bottom: 1px solid #f0f0f0;
}/*# sourceMappingURL=style.css.map */