* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-content {
  font-family: "JosefinSans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;
}

.background {
  background: url(assets/images/homePage/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.background .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  z-index: 1;
}
.background main .catchphrase-container {
  background-color: rgba(240, 240, 240, 0.6);
  width: 100%;
  text-align: center;
  padding: 7px;
}
.background main .catchphrase-container .catchphrase {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.background main .productsStartpage1 .wrapper .product, .background main .productsStartpage2 .wrapper .product {
  max-width: 20%;
}

header {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}
header span {
  text-transform: uppercase;
  color: #53545B;
  font-weight: 400;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  color: #53545B;
  font-weight: 650;
}
header a:first-of-type {
  color: #3AAE72;
}
header .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
header .logoContainer h1 .companyName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
header .logoContainer .the {
  font-size: 1rem;
}
header .navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 20px;
  line-height: 12px;
}
header .navContainer hr {
  border: none; /* Remove default border */
  height: 1px; /* Set height of the line */
  background: linear-gradient(to right, transparent, #53545B, transparent); /* Create a gradient */
  width: 80%; /* Set the full width */
  margin: 0; /* Add some space around the hr */
}

.shopNow {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #FFCE3D;
  color: #5A5C66;
  font-family: "JosefinSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
}
.shopNow:hover {
  background: #ffc10a;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.uppercase {
  text-transform: uppercase;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.header.productsPage {
  margin-bottom: 30px;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.header.productsPage .logoContainer {
  margin-top: 0px;
}
.header.productsPage .backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/686924.jpg");
  margin-bottom: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  width: 100vw;
}
@media (width > 2000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width > 850px) {
  main .part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: stretch;
  }
}
main .part1 .RVRC .adRVRC {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
  gap: 30px;
}
main .part1 .RVRC .adRVRC:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (width > 850px) {
  main .part1 .RVRC .adRVRC {
    width: 46vw;
    margin-left: 4%;
  }
}
main .part1 .RVRC .adRVRC .containerInfo {
  width: 100%;
  height: 100%;
  position: relative;
}
main .part1 .RVRC .adRVRC .containerInfo .shopNow {
  position: absolute;
  top: 13%;
  left: 3%;
}
main .part1 .RVRC .adRVRC .containerInfo .containerLogo {
  width: 100%;
  height: 70px;
  background: rgba(240, 240, 240, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 13%;
}
main .part1 .RVRC .adRVRC .containerInfo .containerLogo .logo {
  height: 70px;
}
main .part1 .RVRC .adRVRC .RVRCImg {
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0px;
  left: 0px;
}
main .part1 .RVRC .bestOfRVRC {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 30px 4%;
}
@media (width > 850px) {
  main .part1 .RVRC .bestOfRVRC {
    width: 50vw;
  }
}
main .part1 .RVRC .bestOfRVRC h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 12px;
}
main .part1 .RVRC .bestOfRVRC .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 4%;
  align-items: flex-start;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct img:hover {
  transform: scale(1.03);
  opacity: 0.6;
  cursor: pointer;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct .productInfo {
  width: 100%;
  min-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 13px;
}
main .part1 .RVRC .bestOfRVRC .products .RVRCProduct .productInfo .price {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}
main .part1 .bergans {
  position: relative;
  width: 100vw;
  height: 600px;
}
main .part1 .bergans:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (width > 850px) {
  main .part1 .bergans {
    width: 50vw;
    height: auto;
    flex-grow: 1;
    padding-right: 3%;
  }
}
main .part1 .bergans .logo {
  width: 70%;
  position: absolute;
  z-index: 1;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0%);
}
main .part1 .bergans .bergansImg {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (width > 850px) {
  main .part1 .bergans .bergansImg {
    height: calc(100% - 71px);
  }
}
main .winterGear {
  position: relative;
  width: 100vw;
  height: 200px;
}
main .winterGear:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (width > 850px) {
  main .winterGear {
    height: 400px;
    grid-column: span 2;
    grid-row-start: 2;
    grid-column-start: 1;
  }
}
main .winterGear .info {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
main .winterGear .info .text {
  position: absolute;
  top: 10%;
  right: 5%;
  text-align: right;
}
main .winterGear .info .text .stayOutdoor {
  font-size: 24px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (width > 850px) {
  main .winterGear .info .text .stayOutdoor {
    font-size: 48px;
    padding-right: 140px;
    padding-left: 40px;
  }
}
main .winterGear .info .text .winterGear {
  font-size: 20px;
}
@media (width > 850px) {
  main .winterGear .info .text .winterGear {
    font-size: 32px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
main .winterGear .info .shopNow {
  position: absolute;
  bottom: 0;
  right: 5%;
  bottom: 10%;
}
main .winterGear img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (width > 850px) {
  main .part3 {
    width: 100vw;
  }
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: stretch;
  }
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .fjallraven {
    width: 50%;
    padding-right: 3%;
  }
}
main .part3 .fjallravenPrimus .fjallraven .adFjallraven {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .fjallraven .adFjallraven {
    width: 100%;
    height: 30vh;
  }
}
main .part3 .fjallravenPrimus .fjallraven .adFjallraven:hover {
  opacity: 0.8;
  cursor: pointer;
}
main .part3 .fjallravenPrimus .fjallraven .adFjallraven .containerInfo {
  width: 100%;
  height: 100%;
  position: relative;
}
main .part3 .fjallravenPrimus .fjallraven .adFjallraven .containerInfo .containerLogo {
  width: 100vw;
  height: 70px;
  background: rgba(240, 240, 240, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 13%;
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .fjallraven .adFjallraven .containerInfo .containerLogo {
    width: 100%;
  }
}
main .part3 .fjallravenPrimus .fjallraven .adFjallraven .containerInfo .containerLogo .logo {
  height: 70px;
}
main .part3 .fjallravenPrimus .fjallraven .adFjallraven .fjallravenVideo {
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0px;
  left: 0px;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 30px 4%;
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven {
    width: 50vw;
  }
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 12px;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 4%;
  align-items: flex-start;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven .products .FjallravenProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven .products .FjallravenProduct img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven .products .FjallravenProduct img:hover {
  transform: scale(1.03);
  opacity: 0.6;
  cursor: pointer;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven .products .FjallravenProduct .productInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 13px;
}
main .part3 .fjallravenPrimus .fjallraven .bestOfFjallraven .products .FjallravenProduct .productInfo .price {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}
main .part3 .fjallravenPrimus .primus {
  position: relative;
  width: 100vw;
  height: 20vh;
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .primus {
    width: 50vw;
    height: auto;
    flex-grow: 1;
    margin: 0px 2%;
  }
}
main .part3 .fjallravenPrimus .primus:hover {
  opacity: 0.8;
  cursor: pointer;
}
main .part3 .fjallravenPrimus .primus .logo {
  width: 50vw;
  position: absolute;
  z-index: 1;
  top: 6%;
  left: 5%;
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .primus .logo {
    width: 40%;
  }
}
main .part3 .fjallravenPrimus .primus .primusImg {
  position: relative;
  width: 140%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (width > 850px) {
  main .part3 .fjallravenPrimus .primus .primusImg {
    width: 100%;
    height: calc(100% - 58px);
    -o-object-position: center;
       object-position: center;
  }
}

.productsPage footer {
  min-height: 124px;
  position: relative;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}
.productsPage footer .backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/686924.jpg");
  margin-bottom: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}
.productsPage footer .containerFooter {
  position: relative;
  z-index: 1;
}
.productsPage footer .containerFooter .footerTop h2, .productsPage footer .containerFooter .footerTop p {
  color: #000000;
}
.productsPage footer .containerFooter hr {
  border: 1px solid #000000;
}
.productsPage footer .containerFooter .footerBottom a {
  color: #000000;
}
.productsPage footer .containerFooter .footerBottom a:hover {
  border-bottom: 1px solid #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid #f0f0f0;
}

footer {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 20px;
}
footer h2 {
  font-weight: 350;
  font-size: 1.2rem;
  color: #f0f0f0;
  text-transform: uppercase;
}
footer p {
  color: #f0f0f0;
  font-weight: 200;
  font-size: 0.7rem;
}
footer a {
  font-weight: 500;
  text-decoration: none;
  color: #f0f0f0;
  text-transform: uppercase;
}
footer .footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  margin-bottom: 10px;
}
footer .footerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
footer .footerBottom a {
  font-size: 0.7rem;
}
footer .footerBottom a:hover {
  border-bottom: 1px solid #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ref-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ref-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.aboutUs {
  background: #F0F0F0;
}

.wrapper {
  width: 100vw;
}
.wrapper .first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("/assets/images/About-us/Group-hiking.png");
  padding: 7% 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .first-section .history {
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.7);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.wrapper .first-section .history .history-heading {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
.wrapper .second-section {
  padding: 5%;
  background-color: white;
  margin: 7% 5%;
  box-sizing: border-box;
  width: auto;
}
.wrapper .second-section .staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}
@media (width > 800px) {
  .wrapper .second-section .staff {
    flex-direction: row;
  }
}
.wrapper .second-section .staff .staff-top, .wrapper .second-section .staff .staff-middle, .wrapper .second-section .staff .staff-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
@media (width > 800px) {
  .wrapper .second-section .staff .staff-top, .wrapper .second-section .staff .staff-middle, .wrapper .second-section .staff .staff-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.wrapper .second-section .staff .portrait {
  width: auto;
}
.wrapper .second-section .staff .portrait p {
  font-size: 12px;
}
.wrapper .second-section .staff .portrait .img {
  overflow: hidden;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
.wrapper .second-section .staff .portrait .img img {
  width: 100%;


  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .second-section .staff .portrait .img img.mike {
  height: 100%;

}/*# sourceMappingURL=style.css.map */